<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <%@breadcrumbs.each do |breadcrumb|%>
      <%if breadcrumb[:path].nil?%>
        <li class="breadcrumb-item" aria-current="page"></li>
          <%= breadcrumb[:label]%>
        <%else%>
        <li class="breadcrumb-item">
          <%= link_to breadcrumb[:label], breadcrumb[:path]%>
      <%end%>
    <%end%>
  </ol>
</nav>